* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: suisse, Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 22px;	
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}
h1,h2,h3
{
    font-weight: normal;
}

img, video {
	width: 100%;
}

canvas {
    /* border: 5px solid red; */
}

a {
    color: #000;
    text-decoration: none;
}

.float-container:after
{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

/* header */
#main-header
{
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: #fff;
}
#site-name
{
    width: 219px;
    height: 24px;
    background-image: url('../../media/jpg/title_32.jpg');
    background-size: 100%;
    margin: 0 auto;
    display: block;
    /*text-align: center;*/
}
.middle
{
    font-size: 17px;
    line-height: 17px;
}
.cat-name
{
    margin-top: 2px;
}
#main-header-btn-container
{
    margin-top: 10px;
    text-align: center;
}
#cat-toggle-btn-container
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#cat-toggle-btn-container > *
{
    /*float: left;*/
}
#cat-toggle-btn
{
    height: 28px;
    width: 56px;
    background-color: #EEEDEB;
    border-radius: 14px;
    position: relative;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
#cat-toggle-btn:after
{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-color: #000;
    position: absolute;
    top: 3px;
    transition: left .35s;
    border-radius: 50%;
}

body[category="projects"] #cat-toggle-btn:after
{
    left: 3px;
}
body[category="commissions"] #cat-toggle-btn:after
{
    left: 31px;
}

#cat-toggle-btn-container.inactive #cat-toggle-btn:after
{
    display: none;
}
#cat-toggle-btn-container.inactive 
{
    color: #BBB;
}
.about-btn.in-header
{
    display: none;
    /*position: fixed;*/
}
#main-footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}
#home-container
{
    /*padding-bottom: 40px;*/
}
.about-btn.in-footer
{
    
}
/* grid */
.padding-wrapper
{
    padding-left: 20px;
    padding-right:  20px;
}
.grid-container
{
    /*padding-top: 120px;*/
    padding-bottom: 45px;
}
#home-container
{
    padding-top: 120px;
}
.grid-item
{
    display: block;
    margin-bottom: 35px;
}
#gallery-container .grid-item
{
     margin-bottom: 25px;
}
.grid-item-thumbnail-container
{
    position: relative;
}
.grid-item-thumbnail-container:before
{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.grid-item-thumbnail
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.grid-item-title
{
    /*font-size: 24px;*/
    line-height: 18px;
    margin-top: 5px;
}

body[category="projects"] #commissions-grid-container,
body[category="commissions"] #home-container
{
    display: none;
}
#project-sections-link-container
{
    display: inline-block;
}
.project-sections-dummy,
.project-sections-link
{
    margin-right: 10px;
    font-weight: 600;
}
.icon-btn
{
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 10px;
}
.icon-btn.grid,
.icon-btn.scroll
{
    position: relative;
    border: 3px solid #BBB;
}
.icon-btn.grid:before
{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 50%;
    left: 0;
    background-color: #BBB;
    transform: translate(0,-50%);
}
.icon-btn.grid:after
{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: #BBB;
    transform: translate(-50%,0);
}
#description-btn
{
    border-top: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    position: relative;
    cursor: pointer;
    margin-right: 0;
}
.viewing-description #description-btn
{
    display: none;
}
.description-btn-bar
{
    width: 100%;
    height: 3px;
    background-color: #BBB;
    position: absolute;
    left: 0;
    transform: translate(0,-50%);
    
}
.description-btn-bar:first-child
{
    top: calc( ((50% - 4.5px) / 2) + 1.5px);
    /*top: 9.75px;*/
    top: 6.75px;
}
.description-btn-bar:nth-child(2)
{
    top: 50%;
}
.description-btn-bar:last-child
{
    top: 23.25px;
}
.icon-btn.active
{
    border-color: #000;
}
.icon-btn.active:before,
.icon-btn.active:after,
.icon-btn.active .description-btn-bar
{
    background-color: #000;
}

.noTouchScreen .icon-btn:hover,
.noTouchScreen #description-btn:hover
{
    border-color: #000;
}
.noTouchScreen .icon-btn:hover:before,
.noTouchScreen .icon-btn:hover:after,
.noTouchScreen .icon-btn:hover .description-btn-bar
{
    background-color: #000;
}

#close-project-description-btn
{
    position: relative;
    display: none;
}
.viewing-description #close-project-description-btn
{
    display: block;
}
#close-project-description-btn:before,
#close-project-description-btn:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform-origin: canter;
}
#close-project-description-btn:before
{
    transform: translate(-50%, -50%) rotate(-45deg);
}
#close-project-description-btn:after
{
    transform: translate(-50%, -50%) rotate(45deg);
}
#project-description-container
{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    opacity: 0;
    left: -10000px;
    top: 0;
}
.viewing-description #project-description-container
{
    opacity: 1;
    transition: opacity .5s;
    left: 0;
}
.viewing-description #project-sections-link-container,
.viewing-description .layout-option-btn
{
    display: none;
}
#project-container
{
    padding-bottom: 60px;
}
#gallery-container
{
    padding: 0 20px 80px 20px;
}
.scroll-gallery-container
{
    text-align: center;
}
.scroll-gallery-container figure
{
    display: inline-block;
}
.gallery-caption
{
    font-weight: 600;
    font-size: 14px;
}
.footer
{
    background-color: #fff;
}
@media screen and (min-width: 321px) {
    #site-name
    {
        /*font-size: 38px;
        line-height: 38px;*/
        width: 260px;
        height: 28px;
        background-image: url('../../media/jpg/title_38.jpg');
    }
    
    .middle
    {
        font-size: 20px;
        line-height: 20px;
    }
    .cat-name
    {
        margin-top: 3px;
    }
    #home-container
    {
        padding-top: 140px;
    }

}
@media screen and (min-width: 376px) {
    #main-header,
    #main-footer
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #main-header-btn-container
    {
        margin-top: 15px;
    }
    #home-container
    {
        padding-top: 160px;
    }
}
@media screen and (min-width: 769px) {
    .padding-wrapper
    {
        padding-left: 25px;
        padding-right:  25px;
    }
    #site-name
    {
        font-size: 38px;
        line-height: 38px;
        text-align: left;
    }
    /* grid layout */
    .grid-item{
        display: inline-block;
        margin-right: 25px;
        vertical-align: top;
    }
    .grid-item.two-cols-grid-item
    {
        width: calc( (100% - 25px) / 2 );
        
    }
    .grid-item.three-cols-grid-item
    {
        width: calc( (100% - 50px) / 3 );
    }
    .grid-item.last-col-grid-item
    {
        margin-right: 0;
    }
    #project-footer
    {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
        padding-bottom: 20px;
        padding-top: 15px;
        background-color: #fff;
        z-index: 1002;
    }
    #project-name
    {
        float: left;
    }
    .align-right
    {
        float: right;
    }
    #gallery-container
    {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .gallery-image.portrait
    {
        width: 45vw;
    }
    .gallery-image.landscape,
    .gallery-image.sqaure
    {
        width: 65vw;
    }
    .gallery-caption
    {
        font-size: 18px;
        margin-top: 18px;
    }
    #cat-toggle-btn
    {
        height: 36px;
        width: 72px;
        border-radius: 18px;
    }
    #cat-toggle-btn:after
    {
        width: 30px;
        height: 30px;
        top: 3px;
        border-radius: 50%;
    }
    body[category="commissions"] #cat-toggle-btn:after
    {
        left: 36px;
    }
}
@media screen and (min-width: 821px) {
    #main-header-btn-container
    {
        float: right;
        margin-top: 0px;

    }
    #site-name
    {
        float: left;
    }
    .about-btn.in-header
    {
        display: inline-block;
        margin-right: 15px;
    }
    #main-footer
    {
        display: none;
    }
    #about-btn,
    #cat-toggle-btn-container
    {
        /*float: left;*/
    }
    #home-container
    {
        padding-top: 76px;
    }
}
@media screen and (min-width: 1024px) {
    #home-container,
    #project-container
    {
        padding-top: 103px;
    }
    #main-header-btn-container
    {
        margin-top: 12px;
    }
    #site-name
    {
        width: 397px;
        height: 42px;
        background-image: url('../../media/jpg/title_58.jpg');
    }
    #main-header
    {
        padding-top: 30px;
        padding-bottom: 25px;
    }
    
    .middle
    {
        font-size: 28px;
        line-height: 28px;
    }

    
    #about-btn
    {
        margin-right: 25px;
    }
    
    .gallery-image.portrait,
    .gallery-image.sqaure
    {
        width: 35vw;
    }
    .gallery-image.landscape
    {
        width: 50vw;
    }
}



