* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body, #page {
	position: relative;
	min-height: 100%;
    width: 100%;
}

html {
	font-family: "Menlo", monospace;
	font-size: 14px;
	line-height: 20px;

	/* safari can't handle fonts */
	-webkit-font-smoothing: subpixel-antialiased;

	color: #000;
/*	background-color: #bbb;*/
}

body {
	width: 600px;
    max-width: 100%;
    margin: 0px auto;
}
body.viewing-popup-window
{
    overflow: hidden;
    pointer-events: none;
}
/* this is so that the text on link.php looks normal. */
p:first-of-type {
	margin-top: 0px;
}
p:last-of-type {
	margin-bottom: 0px;
}

/* links + colours */

span.action {
	padding: 0px 5px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
/*	color: #fff;*/
/*	background-color: #999;*/
}

aside {
    font-size: 9px;
}

#header-container,
#footer-container {
	color: #000;
/*	background-color: #000;*/
}

#header-container a:link,
#header-container a:visited,
#header-container a:active,
#footer-container a:link,
#footer-container a:visited,
#footer-container a:active {
	color: #000;
/*	background-color: #666;*/
}

#header-container a:hover,
#footer-container a:hover {
/*	background-color: #333;*/
}

#body-container {
/*	background-color: #e3e3e3;*/
}

::selection {
	color: white;
	background: red;
}

.child > span {
	padding-right: 5px;
}

.existing-image {
	padding: 16px 0px;
}

/* forms */
#object > div {
	display: inline-block;
}

.field,
.image-upload {
	margin-bottom: 20px;
}

.field-name {
    display: block;
/*    margin-bottom: 5px;*/
/*    font-size: 14px;*/
}
.field-body
{
	border: 1px solid #000;
}

.editable {
    font-family: -apple-system, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    padding: 4px;
    background-color: #FFF;
    -webkit-appearance: textfield;
    border-width: .1px;
    border-style: solid;
    border-color: #CCC;
}


/* form elements */
textarea,
input[type="text"] {
	padding: 5px;
	border: none;
}

input[type="datetime-local"] {
}

input[type="number"],
input[type="datetime-local"] {
	height: 2em;
	padding: 0px 5px;
}

textarea {
	/*resize: vertical;*/
}

textarea.large {
	height: 15em;
}

textarea.medium {
	height: 4em;
}

textarea.small {
	height: 2em;
}

#body > div:nth-child(odd) .toolbar {
	background-color: #e3e3e3;
}

#body > div:nth-child(even) .toolbar {
	background-color: #ececec;
}

.toolbar {
/*	width: 484px;*/
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	display: none;
}
.viewing-toolbar .toolbar
{
	display: block;
}
.imagebox {
	height: 5em;
	background-color: #999;
	overflow-y: hidden;
	overflow-x: scroll;

	display: flex;
	flex-direction: row;
}
.media-toolbar
{
	white-space: nowrap;
	padding: 5px;
	background-color: #fff;
	overflow:scroll;
}
.toolbar-image-container {
	cursor: pointer;
	display: inline-block;
	width: 120px;
	position: relative;
	height: 80px;
}

.toolbar-image-container:hover,
.toolbar-image-container:active {
	opacity: 0.75;
}

.toolbar-image-container:first-of-type {
/*	margin-left: 0px;*/
}

.toolbar-image-container > img {
	height:100%;
/*	width:100%;*/
	object-fit: contain;
/*	display: block;*/
}
.image-container
{
/*	padding: 5px;*/

}
img
{
	display: block;
}
img,
textarea,
input[type="text"],
input[type="number"],
input[type="datetime-local"] {
	width: 100%;
}

select {
	max-width: 100%;
}

#body {
    width: 100%;
    height: 100%;
}

/* utility classes */
.preview {
	max-width: 100%;
}

.dontdisplay {
    display: none;
}

.hide {
    visibility: hidden;
}

.right {
    position: absolute;
    right: 16px;
}

.folio, 
.children-prev, 
.children-next{
	padding: 0 2px;
	margin: 0 5px ;

	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.folio:first-child{
	margin-left: 10px;
	/*padding-left*/: 0;
}
.folio.active{
	/*font-weight: bold;*/
	color: #000;
	background-color: transparent;
}
.select-container select{
	width: 100%;
}
.filter_ctner{
	margin-top: 3px;
}
.filter_ctner > input, 
.filter_ctner > a
{
	vertical-align: bottom;
}
.filter_input{
	width: 325px;
}
.filter_btn, .clear_btn{
	margin-left: 10px;
}
.small-text{
	font-size: 0.75em;
}
.indent-text{
	margin-left: 50px;
}
.flex-container
{
	display: flex;
}
.flex-item
{
	flex: 1;
}
.btn
{
	color: #000;
	border:2px solid #000;
	border-radius: 10px;
	padding: 10px 20px;
	display: inline-block;
	background-color: #fff;
	cursor:pointer;
}
button.btn
{
	font-family: "Menlo", monospace;
	font-size: 14px;
	line-height: 20px;
}
.btn:hover
{
/*	color:#fff;*/
	background-color:#dedede;
}
.btn + .btn
{
	margin-left: 5px;
}
.btn.on-grey
{
	background-color: #dedede;
}
.btn.on-grey:hover
{
	background-color: #fff;
}
#category-container
{
/*	position:relative;*/
/*	top:2px;*/
}
.btn.large
{

}
.cat-item
{
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color:#000;
	padding: 30px 10px;
	border-bottom: 4px solid #fff;
	
}
.cat-item + .cat-item
{
	margin-left:10px;
}
.cat-item.active,
.cat-item:hover,
.nav-item.active,
.nav-item:hover
{
	background-color: #dedede;
	border-color: #dedede;
}
.cat-item.inactive:hover
{
	border-bottom-color: #fff;
}
#children-container
{
/*	border:2px solid #000;*/
/*	padding-top:10px;*/
/*	padding-bottom:10px;*/
	padding:15px;
	background-color: #dedede;
}
.child
{
	display: block;
	padding:15px 20px;
	border-radius: 10px;
}
.child:hover
{
	background-color: #fff;
}
/*.child:hover,
a.cat-item:hover
{
	background-color: #fff;
}*/
header
{
	padding:20px;
}
footer
{
	margin-top:20px;
	border-top:2px solid #000;
	padding-top:20px;
}

.msg-container
{
	background-color: #dedede;
	padding:20px;
}
#welcome-container
{
	margin-bottom:20px;
}
#nav-container
{
	display: flex;
}
.nav-item
{
/*	flex:1;*/
	text-align:center;
}
.nav-item
{
/*	border-top: 2px solid #000;*/
/*	border-right: 2px solid #000;*/
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	color:#000;
	padding: 20px 20px;
	border-bottom: 4px solid #fff;
}
.nav-item:first-child
{
/*	border-left: 2px solid #000;*/
}
.nav-item.active
{
	background-color: #dedede;
}
#form-container
{
	padding:20px;
	background-color: #dedede;
}
.full-width{
	width: 100vw;
	max-width: 100%;
}
.full-height
{
	height: 100vh;
}
.popup-window-mask
{
	position: fixed;
	top:0;
	left:0;
	opacity: 0;
	pointer-events: none;
	background-color: #fff;
	
	z-index: 250;
}
body.viewing-popup-window .popup-window-mask
{
    opacity: 0.75;
    pointer-events: auto;
    transition: opacity .35s;
}
@media screen and (max-device-width: 568px) {
	html {
		font-size: 13px;
		line-height: 1.5;
	}
}
